<%- include("./layouts/header"); -%>
    < <% if(typeof yourDetail !="undefined" && UserDetails.profile) {%>
        <div class="profile">
            <div class="text-center">
                <a href="/partner/your_detail_edit/<%=yourDetail._id%>">Edit your detail</a>
            </div>
            <div class="text-center">
                <a href="/partner/your_detail_delete/<%=yourDetail._id%>">Delete Your Detail</a>
            </div>
            <div class="textt">
                <h5>Name: <%=UserDetails.name %>
                </h5>
                <h5>Email: <%=UserDetails.email %>
                </h5>
                <h5>Gender: <%=UserDetails.gender %>
                </h5>
                <% if(UserDetails.occupied) {%>
                    <h5>Occupied: Yes
                    </h5>
                    <% } else{ %>
                        <h5>Occupied: No</h5>
                        <% } %>
                            <h5>Height:<%= yourDetail.height %>
                            </h5>
                            <h5>Hobbies :<%= yourDetail.height %>
                            </h5>
                            <h5>Address:<%= yourDetail.address %>
                            </h5>
                            <h5>About: <%= yourDetail.about %>
                            </h5>
                            <h5>Instagram:<%= yourDetail.instagram %>
                            </h5>
                            <h5>Telegram Username:<%=UserDetails.telegram %>
                            </h5>
            </div>

            <div>
                <img src="../<%=yourDetail.image %> " width="200" height="200" class="img">
            </div>

        </div>
        <div class="card">
            <div class="card-inside">
                <% if(yourDetail.opponentmail) {%>
                    <h6>Mail of your partner is: <%=yourDetail.opponentmail %>
                    </h6>
                    <a href="mailto:<%=yourDetail.opponentmail%>?subject=From singlewala.com&body=I got your mail from signlewala.com,
                    Hope you are doing great.   ">
                        Send email
                    </a>
                    <% } %>
                        <% if(yourDetail.opponenttelegram){ %>
                            <h6>connect with telegram):</h6>
                            <h6>click here to send message:<a href=<%=url %>><%=url %></a>
                            </h6>
                            <% } %>
            </div>

        </div>
        <% } else{%>

            <div class="text-center">
                <h3 style="color:white">You haven't entered your detail yet,Please add detail so that your partner can
                    see your detail.This will increase your chances of success.</h3>
                <a href="/partner/your_detail">Fillup Detail</a>
                <% if(typeof yourDetail !="undefined" ) {%>
                    <div class="card">
                        <div class="card-inside">
                            <% if(typeof yourDetail.opponentmail !="undefined" ) {%>
                                <h6>Mail of your partner is: <%=yourDetail.opponentmail %>
                                </h6>
                                <a href="mailto:<%=yourDetail.opponentmail%>?subject=From singlewala.com&body=I got your mail from signlewala.com,
                            Hope you are doing great.   ">
                                    Send email
                                </a>
                                <% } %>
                                    <% if(typeof yourDetail.opponenttelegram !="undefined" ){ %>
                                        <h6>connect with telegram):</h6>
                                        <h6>click here to send message:<a href=<%=url %>><%=url %></a>
                                        </h6>
                                        <% } %>
                        </div>

                    </div>
                    <% } %>
                        <% } %>

                            <%- include("./layouts/footer"); -%>